body {
  background: url(../images/moviehistorycopy.jpg) repeat;
}

a:hover {
  text-decoration: none;
}

/* Main Grid Styling Below */
#main-grid {
  display: grid;
  grid-auto-rows: 3fr 1fr 3fr;
  min-height: calc(100vh - 50px);
}

#zipcode-alert {
  position: absolute;
  color: white;
  font-size: 16px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: none;
}

#zipcode-alert span {
  font-size: 19px;
}

#moviedb-div {
  grid-row: 1 / span 1;
  background: rgba(0, 0, 0, 0.6);
  width: 1000px;
  height: 450px;
  margin: 35px auto;
  display: none;
  grid-auto-flow: column;
  overflow: scroll;
  position: relative;
  grid-gap: 30px;
  border-left: solid rgba(0, 0, 0, 0) 15px;
  border-right: solid rgba(0, 0, 0, 0) 15px;
}

#search-div {
  margin: auto 0;
}

#zomato-div {
  grid-row: 3 / span 1;
  background: rgba(0, 0, 0, 0.6);
  width: 1000px;
  height: 450px;
  margin: 35px auto;
  display: none;
  grid-auto-flow: column;
  overflow: scroll;
  position: relative;
  grid-gap: 15px;
  border-left: solid rgba(0, 0, 0, 0) 15px;
  border-right: solid rgba(0, 0, 0, 0) 15px;
}

/* User Logged Out & Signed In Styling  */
#userLogin {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 16px;
  box-shadow: 0px 2px 15px #888;
  background: rgb(0, 0, 0, 0.8);
  color: white;
  border-bottom: solid rgb(213, 53, 62, 0.8) 5px;
}

#login,
#password {
  margin-right: 20px;
  margin-left: 10px;
  outline: none;
  color: rgb(74, 80, 86);
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

#user-input,
#user-input:hover,
#user-input:focus,
#user-input:active,
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset;
  -webkit-box-shadow: 0 0 0 30px white inset;
}

#signIn,
#register {
  color: rgb(213, 53, 62, 0.8);
  font-weight: bold;
  height: 30px;
  background: rgba(255, 255, 255, 0.13);
  margin-right: 20px;
}

.dropdown {
  display: none;
  position: relative;
}

#dropdownMenuButton {
  width: 100%;
  margin: 0;
  border-radius: initial;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Quicksand", sans-serif;
  box-shadow: 0px 2px 15px #888;
  border: none;
  background: rgb(0, 0, 0, 0.8);
  color: white;
  border-bottom: solid rgb(213, 53, 62, 0.8) 5px;
  padding-top: 3px;
  padding-right: 45px;
}

.dropdown-menu {
  top: -2px !important;
  border-top-left-radius: initial;
  border-top-right-radius: initial;
  left: initial !important;
  right: 15px !important;
  background: black;
}

.dropdown-item {
  color: white;
}

.fa-user {
  font-size: 28px;
  display: flex;
  position: absolute;
  justify-content: flex-end;
  align-items: center;
  width: 50px;
  height: 50px;
  right: 10px;
  top: -2px;
  color: rgb(213, 53, 62, 0.8);
}

.dropdown-toggle::before {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  margin-right: 5px;
}

.dropdown-toggle::after {
  display: none;
}

/* SweetAlert2 Styling */
.swal2-popup {
  font-size: 16px !important;
  margin: 5px !important;
}

.format-swal-title {
  font-size: 16px !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
  background-color: rgb(213, 53, 62, 0.8) !important;
}

.swal2-popup .swal2-styled.swal2-confirm:hover {
  background-color: rgb(213, 53, 62, 0.9) !important;
}

.swal2-popup .swal2-styled:focus {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(213, 53, 62, 0.4) !important;
}

/* Movie-Div -> MovieDB API Styling */
.movie-divs {
  margin-top: 15px;
  position: relative;
}

.movie-posters {
  height: 280px;
  border: dashed white 5px;
}

.movie-posters:hover {
  border: dashed rgb(213, 53, 62) 5px;
}

.movie-ratings {
  color: yellow;
  font-size: 12px;
  margin-top: 10px;
  text-align: center;
}

.no-user-ratings {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
}

.movie-titles {
  color: white;
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
}

.release-dates {
  color: white;
  font-style: italic;
  font-size: 10px;
  margin-top: -12px;
  text-align: center;
}

.check-availability {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(213, 53, 62, 0.8);
  border-radius: 5px;
  height: 35px;
  width: 115px;
  color: white;
  font-weight: bold;
  font-variant: all-petite-caps;
  position: absolute;
  bottom: 0;
  left: 38px;
}

.check-availability:hover {
  background: rgb(213, 53, 62);
}

.movie-divs a:hover {
  color: white;
  text-decoration: none;
}

.addToFavMovie {
  position: absolute;
  bottom: 21px;
  right: 3px;
  width: 25px;
  cursor: pointer;
  font-size: 25px;
  color: white;
  border-radius: 4px;
  text-align: center;
  font-weight: bold;
}

.addToFavMovie:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

/* Search-Div -> Search Bar Styling */
#location-finder {
  height: 40px;
  margin-left: 15px;
  margin-right: -54px;
  z-index: 2;
}

#search-div-formatting {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  background: rgb(213, 53, 62, 0.8);
  margin: 0;
  height: 150px;
}

#cinegrub-intro-logo {
  font-size: 120px;
  font-family: "Lobster Two", cursive;
  padding: 10px;
  color: rgb(255, 246, 142);
  text-shadow: 5px -2px 10px black, 2px 2px 10px black;
  display: flex;
  justify-content: center;
}

#cinegrub-logo {
  font-size: 85px;
  font-family: "Lobster Two", cursive;
  padding: 10px;
  color: rgb(255, 246, 142);
  text-shadow: 5px -2px 10px black, 2px 2px 10px black;
  display: none;
}

.form-control {
  width: 200px;
  height: 55px;
  margin: auto 10px;
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding-left: 32px;
  color: #495057;
}

.form-control:focus {
  box-shadow: none;
  border-color: initial;
}

#user-input::placeholder {
  color: rgb(196, 195, 195);
}

.btn {
  height: 55px;
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: sans-serif;
  margin-left: -15px;
  background: #495057;
  color: white;
  border-radius: inherit;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.btn:focus {
  color: white;
  background: #495057;
  border-color: none;
  outline: initial;
  box-shadow: none;
}

#error-message {
  margin: 0;
  position: absolute;
  bottom: 19px;
  margin-left: 103px;
  font-size: 11px;
  color: white;
  padding: 3px 10px;
  border-radius: 5px;
  background: darkred;
  display: none;
}

#cinegrub-intro {
  color: white;
  font-style: italic;
  font-size: 50px;
  font-family: "Grand Hotel", cursive;
  text-align: center;
  margin-top: -15px;
  visibility: hidden;
}

/* Zomato-Div -> Zomato API Styling */
.restaurant-divs {
  position: relative;
  height: 365px;
  width: 250px;
  border-radius: 5px;
  margin-top: 15px;
  border: solid white 5px;
}

.fa-utensils {
  color: white;
  font-size: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 34px;
}

.restaurant-ratings {
  font-size: 25px;
  text-align: center;
  margin-top: 21px;
  background: white;
}

.no-food-ratings {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
}

.restaurant-names {
  text-align: center;
  margin-top: 10px;
  font-family: "Medula One", cursive;
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 1px;
  color: white;
  width: 240px;
  height: 40px;
  overflow: scroll;
}

.more-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 35px;
  color: white;
  font-weight: bold;
  margin: auto;
  margin-top: 377px;
  width: 125px;
  letter-spacing: 2px;
  border: solid white 2px;
}

.more-info:hover {
  background: black;
}

.restaurant-divs a:hover {
  color: white;
  text-decoration: none;
}

.addToFavRestaurant {
  color: white;
  font-size: 30px;
  position: absolute;
  bottom: -55px;
  right: 22px;
  font-weight: bold;
  cursor: pointer;
}

.addToFavRestaurant:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.map-formatting {
  height: 100%;
  width: 100%;
  filter: brightness(0.8);
}

.maps-marker {
  height: 60px;
  position: absolute;
  top: 120px;
  right: 93px;
}

.maps-marker:hover {
  transform: scale(1.4);
  top: 108px;
  transition: 0.5s;
}

.maps-address {
  background: #495057;
  color: white;
  padding: 5px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  font-size: 12px;
  position: absolute;
  width: 240px;
  bottom: 0;
  margin: 0;
}

/* Flip Animation Styling */
.parent-card {
  width: 100%;
  height: 100%;
  position: absolute;
}

.flip-card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  position: absolute;
}

.front-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.parent-card:hover .flip-card {
  transform: rotateY(180deg);
}

/* Sticky Footer & Footer Styling */
#sticky-footer {
  min-height: calc(100vh - 80px);
}

#trilogy-logo {
  position: absolute;
  margin-right: 15px;
  right: 0;
  height: 50px;
}

#moviedb-logo {
  position: absolute;
  left: 83px;
  height: 45px;
}

#zomato-logo {
  position: absolute;
  margin-left: 15px;
  left: 0;
  height: 50px;
}

footer {
  height: 80px;
  background: rgb(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
  border-top: solid rgb(213, 53, 62, 0.8) 5px;
}

/* Styling for currentplans.html */
#templateMovie,
#templateRest {
  display: none;
}

#favCard {
  display: grid;
  grid-auto-flow: column;
  position: relative;
  grid-gap: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px;
  min-height: 300px;
  width: 70%;
  margin: auto;
  margin-bottom: 20px;
  text-align: center;
}
.movie-divs-template {
  position: relative;
  height: 410px;
  grid-row: 1;
  grid-column: 1;
  text-align: center;
}
.restaurant-divs-template {
  position: relative;
  width: 250px;
  height: 365px;
  border-radius: 5px;
  border: solid white 5px;
  grid-row: 1;
  grid-column: 2;
}

#cinegrub-selections {
  margin-top: 30px;
}

.cardText {
  width: 70%;
  margin: auto;
  padding-left: 0 !important;
  color: white;
  font-size: 23px;
  padding: 10px;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
}

#timeText,
#placeText {
  margin: 0;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
}

#time,
#address {
  padding-left: 5px;
}

.mini-cinegrub-logo {
  font-family: "Lobster Two", cursive;
  color: rgb(255, 246, 142);
  text-shadow: 5px -2px 10px black, 2px 2px 10px black;
  font-size: 30px;
  margin-right: 11px;
}

#clearFavCard,
#removeInvitation {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  color: white;
}

#clearFavCard {
  visibility: hidden;
}

.invitationForm {
  color: white;
  font-family: "Quicksand", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  margin: -20px auto 5px auto;
  background: rgb(0, 0, 0, 0.6);
  width: 59%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
#invitation {
  color: white;
  font-size: 18px;
  font-family: "Quicksand", sans-serif;
  display: grid;
  grid-auto-flow: column;
  position: relative;
  grid-gap: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  min-height: 300px;
  width: 70%;
  margin: auto;
  margin-bottom: 30px;
}

#sendInvitation {
  visibility: hidden;
  color: white;
  font-size: 35px;
  position: absolute;
  bottom: 15px;
  left: 15px;
}

#sendInvitation:hover {
  color: mediumseagreen;
}

#removeInvitation:hover,
#clearFavCard:hover {
  color: indianred;
}

#userInviteText {
  display: flex;
  color: white;
  font-family: "Quicksand", sans-serif;
  justify-content: center;
  align-items: center;
  margin: -30px auto 30px auto;
  background: rgb(0, 0, 0, 0.6);
  width: 59%;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  visibility: hidden;
}

/* Animate.js Styling */
.ml9 {
  position: relative;
  font-weight: 200;
  font-size: 4em;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}
